* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --color1: #080808;
    --color2: #EEEEEE;
    --color3: #c9c9c9;
    --color4: #5b8a83;
    
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--color1);
    color: #fff;
    background: hsla(173, 100%, 2%, 1);
    padding-bottom: 100px
}

#header {
    width: 100%;
    height: 40vh;
}

.navbar {
    padding: 10px 10%;
    background: var(--color2);
    position: fixed; /* Stick to the top of the screen */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Take up the full width of the viewport */
    z-index: 1000; /* Ensure the navbar appears above other content */
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: var(--color1);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--color1);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}

nav ul li a:hover::after {
    width: 100%;
}

.logo {
    width: 180px;
    height: 65px;
}

.header-text {
    padding: 10px 7%;
    margin-top: 20%;
    font-size: 30px;

}

.header-text h1 {
    font-size: 50px;
    margin-top: 20px;
}

.header-text p {
    color: var(--color3);
}

#about {
    padding: 15px 7%;
    font-size: 22px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 h1 {
    padding-bottom: 10px;
    border-bottom: 3px solid var(--color2);
}

.about-col-1 p {
    color: var(--color3);
    padding-top: 10px;
    font-size: smaller;
}

#experience {
    padding: 10px 7%;
    font-size: 22px;
}

.experience-col-1 h1 {
    padding-bottom: 10px;
    border-bottom: 3px solid var(--color2);
}

.tab-titles {
    display: flex;
    margin: 20px 0 23px;
}

.tab-links {
    margin-right: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 4px;
    background: var(--color2);
    position: absolute;
    left: 10%;
    bottom: -8px;
    transition: 0.2s;
}

.tab-links.active-link::after {
    width: 80%;
    background: var(--color4);
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.tab-contents ul li {
    color: var(--color3);
    font-size: smaller;
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: var(--color2);
    font-size: larger;
    text-decoration: underline;
}

#projects {
    padding: 15px 7%;
    font-size: 22px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.sub-title {
    padding-bottom: 10px;
    border-bottom: 3px solid var(--color2);
}

.project img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform .5s;
    border: 1px solid var(--color4);
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--color4));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4px;
    text-align: center;
    font-size: 19px;
    transition: height 0.3s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.layer p{
    color: var(--color3);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.layer a {
    margin-top: 20px;
    color: var(--color4);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img {
    transform: scale(1.1);
}

.project:hover .layer {
    height: 100%;
}

.hidden-projects {
    display: none; /* Initially hide additional projects */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--color4);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--color2);
    transition: background 0.5s;
    font-size: smaller;
}

.btn:hover {
    background: var(--color4);
}

#contact {
    padding: 15px 7%;
    font-size: 22px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p i {
    color: var(--color4);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    margin-right: 15px;
    text-decoration: none;
    font-size: 30px;
    color: var(--color2);
    display: inline-block;
    transition: transform 0.2s;
}

.social-icons a:hover {
    color: var(--color4);
    transform: translateY(-5px);
}

.btn2 {
    display: inline-block;
    background: var(--color1);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 200px;
    cursor: pointer;
    position: absolute;
}

nav .fas{
    display: none;
}

#msg{
    color: var(--color4);
    display: block;
    margin-left: 15px;
    font-size: 15px;
}

@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 100px;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
        color: var(--color1);
    }

    nav ul{
        background: var(--color2);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 110vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        left: 25px;
        top: 25px;
        color: var(--color1);
        cursor: pointer;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 0;
        margin-left: 0;
        flex-basis: 100%;
        text-align: center;
    }

    #experience{
        padding: 10px 3%;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    form input, form textarea{
        margin-left: 0;
    }

    form .btn2{
        margin-left: 100px;
    }
}