*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #080808;
    color: #fff;
    background: hsla(173, 100%, 2%, 1);
}

#header{
    width: 100%;
    height: 80vh;
}

.navbar{
    padding: 10px 10%;
    background: #EEEEEE;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #080808;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}
nav ul li a:hover::after{
    width: 100%;
}

.logo{
    width: 180px;
    height: 65px;
}

.header-text{
    padding: 10px 7%;
    margin-top: 10%;
    font-size: 30px;

}

.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}

.header-text p{
    color: #9b9b9b;
}

#about{
    padding: 15px 7%;
    font-size: 22px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 h1{
    padding-bottom: 10px;
    border-bottom: 3px solid #EEEEEE;
}

.about-col-1 p {
    color: #9b9b9b;
    padding-top: 10px;
    font-size: smaller;
}

#experience{
    padding: 10px 7%;
    font-size: 22px;
}

.experience-col-1 h1{
    padding-bottom: 10px;
    border-bottom: 3px solid #EEEEEE;
}

.tab-titles{
    display: flex;
    margin: 20px 0 23px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 4px;
    background: #EEEEEE;
    position: absolute;
    left: 10%;
    bottom: -8px;
    transition: 0.2s;
}

.tab-links.active-link::after{
    width: 80%;
    background: #5b8a83;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.tab-contents ul li{
    color: #9b9b9b;
    font-size: smaller;
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #EEEEEE;
}

#projects{
    padding: 15px 7%;
    font-size: 22px;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px ;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.sub-title{
    padding-bottom: 10px;
    border-bottom: 3px solid #EEEEEE;
}

.project img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform .5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,.3), #9b9b9b);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4px;
    text-align: center;
    font-size: 19px;
    transition: height 0.3s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a{
    margin-top: 20px;
    color: #5b8a83;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #5b8a83;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #EEEEEE;
    transition: background 0.5s;
    font-size: smaller;
}

.btn:hover{
    background: #5b8a83;
}

#contact{
    padding: 15px 7%;
    font-size: 22px;
}

.contact-left{
    flex-basis: 35%;
}

.contact-left p{
    margin-top: 30px;
}
.contact-right{
    flex-basis: 60%;
}